---
import StyledHeading from "@components/ui/headings/StyledHeading";
import StyledButton from "@components/ui/buttons/StyledButton";
import ProductRender from "./components/productsRender/ProductsRender.astro";
import productsInfo from "./_products.info";
import { products } from "./_products.info";
---

<section class="px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64">
  <StyledHeading
    normalText={productsInfo.normalText}
    styledText={productsInfo.styledText}
  />
  <ProductRender products={products} />
  <div class="flex items-center justify-center mt-14">
    <StyledButton className="text-white" href={productsInfo.buttonHref}>
      {productsInfo.buttonText}
    </StyledButton>
  </div>
</section>
