---
import StyledButton from "@components/ui/buttons/StyledButton";
import { heroInfo } from "./_hero.info";
---

<section
  class="flex items-center justify-center bg-hero min-h-[600px] min-w-screen bg-no-repeat bg-cover"
>
  <h1 class="text-white sr-only">{heroInfo.title}</h1>
  <h2 class="text-white sr-only">{heroInfo.subtitle}</h2>
  <div class="flex items-center justify-start w-full">
    <div class="flex flex-col items-start max-w-5xl px-6 lg:ml-[5%] gap-y-8">
      <div>
        <h1
          class="text-2xl tracking-wider text-center text-white lg:text-center"
        >
          {heroInfo.titleHero}
        </h1>
        <div class="flex items-start justify-start">
          <h2
            class="leading-[110px] text-white text-7xl mt-14 mb-5 text-center lg:leading-none lg:text-8xl font-sunydale"
          >
            {heroInfo.subtitleHero}
          </h2>
        </div>
      </div>
      <div
        class="flex items-center justify-center w-full lg:items-start lg:justify-center"
      >
        <StyledButton
          className="text-white"
          href={heroInfo.buttonHref}
          client:load
        >
          {heroInfo.buttonText}
        </StyledButton>
      </div>
    </div>
  </div>
</section>
